torch==1.11.0+cu113
pytorch-lightning==1.5.1
pandas==1.1.4
pyarrow==4.0.0
scikit-learn==0.23.2
hydra-core==1.0.4
GitPython==3.1.11
plotly==4.13.0
statsmodels
onnx
torchvision
fvcore
iopath
markupsafe==2.0.1
pytorch3d -f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py38_cu113_pyt1110/download.html
jupyter==1.0.0
jupyterlab==3.5.3
